<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377396948837-rbeffu8kfs4bvh3276iplp7m8q15g0d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377396948837-rbeffu8kfs4bvh3276iplp7m8q15g0d8</string>
	<key>API_KEY</key>
	<string>AIzaSyBPg-xM-nW7nH2QEd1X6nnWlM5XhHLXZac</string>
	<key>GCM_SENDER_ID</key>
	<string>377396948837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ph.moniqo</string>
	<key>PROJECT_ID</key>
	<string>moniqo-cc889</string>
	<key>STORAGE_BUCKET</key>
	<string>moniqo-cc889.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377396948837:ios:802ace86b158f6c399fb8c</string>
</dict>
</plist>